<div id="<%= dom_id stop %>" class="space-y-2">
  <h3 class="text-md sm:text-lg font-semibold text-gray-900">
    <%# @starred_routes.include?(route.id) ? '★' : '' %>
    <%= "#{stop.name} - #{stop.code} - #{stop.id}" %>
  </h3>
</div>
