<% content_for :title, "Editing stop" %>

<h1>Editing stop</h1>

<%= render "form", stop: @stop %>

<br>

<div>
  <%= link_to "Show this stop", @stop %> |
  <%= link_to "Back to stops", stops_path %>
</div>
