<% content_for :title, "Edit Stop" %>

<div class="container-content-max space-section">
  <div>
    <h1 class="page-title">Edit Stop</h1>
    <p class="page-description">Update transit stop details</p>
  </div>

  <div class="card-lg">
    <%= render "form", stop: @stop %>
  </div>

  <div class="btn-group">
    <%= link_to "View Stop", @stop, class: "btn-primary" %>
    <%= link_to "Back to Stops", stops_path, class: "btn-secondary" %>
  </div>
</div>
