<% content_for :title, "Stops" %>

<div class="space-section">
  <!-- Page Header -->
  <div class="page-header">
    <div>
      <h1 class="page-title">Stops</h1>
      <p class="page-description">Explore all transit stops</p>
    </div>
    <%= link_to "New Stop", new_stop_path, class: "btn-primary-lg" %>
  </div>

  <!-- Stops List -->
  <div id="stops" class="grid-cards">
    <% @stops.each do |stop| %>
      <div class="card-hover">
        <%= render stop %>
        <%= link_to "View Stop", stop, class: "link-primary mt-4 inline-flex" %>
      </div>
    <% end %>
  </div>
</div>
