<% content_for :title, "New Stop" %>

<div class="container-content-max space-section">
  <div>
    <h1 class="page-title">Create New Stop</h1>
    <p class="page-description">Add a new transit stop to the system</p>
  </div>

  <div class="card-lg">
    <%= render "form", stop: @stop %>
  </div>
</div>
