<% content_for :title, "Edit Route" %>

<div class="container-content-max space-section">
  <div>
    <h1 class="page-title">Edit Route</h1>
    <p class="page-description">Update transit route details</p>
  </div>

  <div class="card-lg">
    <%= render "form", route: @route %>
  </div>

  <div class="btn-group">
    <%= link_to "View Route", @route, class: "btn-primary" %>
    <%= link_to "Back to Routes", routes_path, class: "btn-secondary" %>
  </div>
</div>
