<div class="space-section">
  <!-- Page Header -->
  <div class="page-header">
    <div>
      <h1 class="page-title">Routes</h1>
      <p class="page-description">Browse and manage transit routes</p>
    </div>
  </div>

  <!-- Starred Routes Section -->
  <% if @starred_routes.any? %>
    <div id="starred-routes-list" class="grid-cards">
      <% @starred_routes.each do |route_id| %>
        <% route = Route.find(route_id) %>
        <%= link_to route, class: "card-hover-starred" do %>
          <%= render route %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <!-- All Routes Section -->
  <div class="spacing-lg">
    <h2 class="section-title">All Routes</h2>
    <div id="routes" class="grid-cards">
      <% @routes.each do |route| %>
        <% next if @starred_routes.any?(route.id) %>
        <% next if Route.ignore.any?(route.id)%>
        <%= link_to route, class: "card-hover" do %>
          <%= render route %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
