<% content_for :title, "New Route" %>

<div class="container-content-max space-section">
  <div>
    <h1 class="page-title">Create New Route</h1>
    <p class="page-description">Add a new transit route to the system</p>
  </div>

  <div class="card-lg">
    <%= render "form", route: @route %>
  </div>
</div>
